#
# Connector translations
#
# @language       en_US
#
# @license        More in LICENSE.md
# @copyright      https://www.fastybird.com
# @author         Adam Kadlec <adam.kadlec@fastybird.com>
# @package        FastyBird:Zigbee2MqttConnector!
# @subpackage     Translations
# @since          1.0.0
#
# @date           23.12.23
#

cmd:
    base:
        questions:
            continue: "Would you like to continue?"
            whatToDo: "What would you like to do?"
            exit: "Do you want to exit?"

        messages:
            noConnectors: "No Zigbee2MQTT connectors registered in system."
            answerNotValid: "Selected answer: \"%s\" is not valid."

    execute:
        title: "Zigbee2MQTT connector - service"
        subtitle: "This action will run connector service"

        questions:
            execute: "Would you like to execute \"%connector%\" connector"
            select:
                connector: "Please select connector to execute"

        messages:
            connector:
                notFound: "Connector was not found in system."
                disabled: "Connector is disabled. Disabled connector could not be executed."
            error: "Something went wrong, connector was terminated."

    discover:
        title: "Zigbee2MQTT connector - devices discovery"
        subtitle: "This action will run connector devices discovery"

        questions:
            execute: "Would you like to discover devices with \"%connector%\" connector"
            select:
                connector: "Please select connector to perform discovery"

        data:
            id: "ID"
            name: "Name"
            model: "Model"
            manufacturer: "Manufacturer"
            bridge: "Bridge"

        messages:
            connector:
                notFound: "Connector was not found in system."
                disabled: "Connector is disabled. Disabled connector could not be executed."
            starting: "Starting Zigbee2MQTT connector discovery..."
            stopping: "Stopping Zigbee2MQTT connector discovery..."
            foundDevices: "Found %d new devices"
            noDevicesFound: "No devices were found"
            success: "Devices discovery was successfully finished"
            error: "Devices discovery failed. An error was logged."

    install:
        title: "Zigbee2MQTT connector - installer"
        subtitle: "This action will create|update|delete connector configuration"

        actions:
            create:
                connector: "Create connector"
                bridge: "Create bridge"
            update:
                connector: "Edit connector"
                bridge: "Edit bridge"
                device: "Edit device"
            remove:
                connector: "Delete connector"
                bridge: "Delete bridge"
                device: "Delete device"
            manage:
                connector: "Manage connector"
                bridge: "Manage bridge"
            list:
                connectors: "List connectors"
                bridges: "List bridges"
                devices: "List devices"
            discover:
                devices: "Discover devices"
            nothing: "Nothing"

        questions:
            create:
                connector: "Would you like to create new connector configuration?"
                bridges: "Would you like to configure connector bridge(s)?"
                bridge: "Would you like to configure new bridge?"
            manage:
                bridges: "Would you like to manage connector bridges?"
                devices: "Would you like to manage bridge devices?"
            select:
                item:
                    connector: "Please select connector to manage"
                    bridge: "Please select bridge to manage"
                    device: "Please select device to manage"
            provide:
                connector:
                    identifier: "Provide connector identifier"
                    name: "Provide connector name"
                    address: "Provide MQTT server address"
                    port: "Provide MQTT server port"
                    securedPort: "Provide MQTT server secured port"
                    username: "Provide MQTT server username (leave blank if no username is required)"
                    password: "Provide MQTT server password (leave blank if no password is required)"
                device:
                    identifier: "Provide device identifier"
                    name: "Provide device name"
                    baseTopic: "Provide bridge base topic"
            disable:
                connector: "Do you want to disable connector?"
            enable:
                connector: "Do you want to enable connector?"
            change:
                protocol: "Do you want to change connector protocol version?"

        data:
            id: "ID"
            name: "Name"
            baseTopic: "Base Topic"
            bridge: "Bridge"
            model: "Model"
            manufacturer: "Manufacturer"
            bridgesCnt: "# Bridges"
            devicesCnt: "# Devices"

        messages:
            identifier:
                connector:
                    used: "This identifier is already used."
                    missing: "Connector identifier have to be provided."
                device:
                    used: "This identifier is already used."
                    missing: "Device identifier have to be provided."
            create:
                connector:
                    success: "Connector \"%name%\" was successfully created."
                    error: "Something went wrong, connector could not be created. An error was logged."
                bridge:
                    success: "Bridge \"%name%\" was successfully created."
                    error: "Something went wrong, bridge could not be created. Error was logged."
            update:
                connector:
                    success: "Connector \"%name%\" was successfully updated."
                    error: "Something went wrong, connector could not be updated. An error was logged."
                bridge:
                    success: "Bridge \"%name%\" was successfully updated."
                    error: "Something went wrong, bridge could not be updated. Error was logged."
                device:
                    success: "Device \"%name%\" was successfully updated."
                    error: "Something went wrong, device could not be updated. Error was logged."
            remove:
                connector:
                    confirm: "This action will remove \"%name%\" connector. This action can not be undone."
                    success: "Connector \"%name%\" was successfully removed."
                    error: "Something went wrong, connector could not be removed. An error was logged."
                bridge:
                    confirm: "This action will remove \"%name%\" bridge. This action can not be undone."
                    success: "Bridge \"%name%\" was successfully removed."
                    error: "Something went wrong, bridge could not be removed. Error was logged."
                device:
                    confirm: "This action will remove \"%name%\" device. This action can not be undone."
                    success: "Device \"%name%\" was successfully removed."
                    error: "Something went wrong, device could not be removed. Error was logged."
            discover:
                starting: "Starting Zigbee2MQTT connector discovery..."
                stopping: "Stopping Zigbee2MQTT connector discovery..."
                success: "Devices discovery was successfully finished"
                error: "Devices discovery failed. An error was logged."
            noConnector: "Connector could not be loaded"
            noBridges: "No bridges registered in selected connector."
            noDevices: "No devices registered in selected bridge."
            foundDevices: "Found %d new devices"
            noDevicesFound: "No devices were found"
