parameters:
    level: max

    paths:
        - ../src/

    bootstrapFiles:
        - phpstan-bootstrap.php

    ignoreErrors:
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Commands/Install.php
            count: 11
        -
            message: '#^Parameter \#1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Commands/Install.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Clients/Subscribers/Device.php
            count: 2
        -
            message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.#'
            path: ../src/Clients/Subscribers/Bridge.php
            count: 2
